<mat-sidenav-container class="sidenav-container">
  <!-- Menu latéral -->
  <mat-sidenav #sidenav class="sidenav" mode="over" [autoFocus]="false">
    <app-sidebar (closeSidenav)="onCloseSidenav()"></app-sidebar>
  </mat-sidenav>

  <!-- Contenu -->
  <mat-sidenav-content>
    <app-header (menuToggle)="onMenuToggle()"></app-header>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      © {{ year }} AmineDev — Tous droits réservés.
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
